@import '~bootstrap/scss/bootstrap';

body {
  background-image: url(https://i.imgur.com/e8bMcGx.jpg);
}

footer {
  text-align: center;
  margin-top: 100px;
  color: #2de514
}

h1 {
  color: #b8e1fc;
  background-color: black;
  text-align: center;
}

h2 {
  color: #b8e1fc;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
  color: #black
}

.col-4 {
  background: #b8e1fc;
  font-style: bold;
  text-align: center;
  height: 100px;
  border: 1px solid;
  border-color: white;
  padding: 30px;
  font-size: large;
}

.getGames {
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
  font-size: 25px;
  text-align: center;
}

.message {
  text-align: center;
}

.newGame {
  text-align: center;
  margin-top: 40px;
  text-decoration-color: green
}

#change-pw,
#sign-out {
  text-align: center;
}

#sign-up,
#sign-in {
  text-align: center;
}

#notification {
  text-align: center;
  margin: 50px
}
