@import '~bootstrap/scss/bootstrap';

footer {
  text-align: center;
  margin-top: 100px
}

h1 {
  color: #42f4e5;
  background-color: black;
  text-align: center;
}

h3 {
  text-align: center;
}

.col-4 {
  background: #42f4e5;
  font-style: bold;
  text-align: center;
  height: 100px;
  border: 1px solid;
}

.newGame {
  text-align: center;
  margin-top: 40px;
}
